.navbar{
      background-color:steelblue;
      height: 90px;
      position: fixed;
      z-index: 1;
      width: 100%;
      top: 0;
  }
  
  body {
        font-family: "Helvetica Neue",sans-serif;
        font-weight: lighter;
        background-image: linear-gradient(to bottom,rgba(252, 54, 193, 0.329), rgba(52, 125, 209, 0.842)), url("bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
  }


.navbar ul {
      display: flex ;
      justify-content: flex-end;
      padding-left: 75%;
}

.navbar li  {
      text-decoration-color: aliceblue;
      font-size: 16px;
      padding: 10px;
}


@media(max-width: 786px) {

      .logo {
            
            top: 0;
           
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
          
         
      }


}